@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose {
  max-width: 65ch;
  line-height: 1.75;
}

.prose h1 {
  @apply text-2xl font-semibold mt-8 mb-4;
}

.prose h2 {
  @apply text-xl font-semibold mt-8 mb-4;
}

.prose p {
  @apply mb-4 text-gray-600;
}

.prose ul {
  @apply list-disc list-inside mb-4;
}

.prose li {
  @apply mb-2;
}
